*{

    margin: 0 auto;
    
    padding: 0;
    
    box-sizing: border-box;
    
    }
    
    
    
    
    
    
    
    body{
    
     
    
    text-transform: capitalize;
    
    font-family: tahoma;
    
    height: 100%;
    
    }
    
    nav{
    
    height: 50px;
    
    width: 100vw;
    
    position: absolute;
    
    z-index: 22;
    
    }
    
    .first{
    
    position: absolute;
    
    width: 1140px;
    
    top: 50%;
    
    left: 50%;
    
    transform: translate(-50%,-50%);
    
    }
    
    
    
    
    header{
    
    background-image:url(home4.jpg);
    max-width: 100%;
    
    height: 100vh;
    
    background-position: center;
    
    background-size: cover;
    
    background-attachment: fixed;
    
    }
    
    h1{
    
    color: white;
    
    }
    
    
    
    
    .row{
    
    max-width: 1140px;
    
    margin: 0 auto;
    
    }
    
    
    
    
    .main-nav{
    
    float: right;
    
    list-style: none;
    
    margin-top: 60px;
    
    position: fixed;
    
    
    
    
    }
    
    
    
    
    .main-nav li{
    
    display: inline-block;
    
    margin-left: 20px;
    
    }
    
    
    
    
    .main-nav li a{
    
    color: white;
    
    text-decoration: none;
    
    font-size: 100%;
    
    font-weight: bold;
    
    }
    
    
    
    
    .main-nav li a:hover{
    
    color: peachpuff;
    
    border-bottom: 2px solid peachpuff;
    
    transition: all 0.5 ease-in;
    
    padding: 15px 0;
    
     
    
    }
    
    .logo img{
    
    height: 100px;
    
    float: right;
    
    margin-top: 30px;
    
     
    
    }
    
    
    
    
    
    
    
    
    
    
    .btn{
    
    border: 1px solid peachpuff;
    
    padding: 10px 30px;
    
    color: peachpuff; 
    
    text-decoration: none;
    
    border-radius: 12px;
    
    margin-right: 15px;
    
    }
    
    .button-shaza{
    
    margin-top: 40px;
    
    }
    
    
    
    
    .btn shaza{
    
    background-color: peachpuff;
    
    color: white;
    
    }
    
    
    
    
    .btn shaza2:hover{
    
    background-color: peachpuff;
    
    color: white;
    
    transition: all 0.5s ease-in;
    
    }
    
    
    
    
    .middle{
    
    background-color: rgba(252, 228, 207, 0.534);
    
    width: 100%;
    
    height: 90px; 
    
    }
    
    .middle h2{
    
    text-align: center;
    
    font-size: 300%;
    
    font-family: 'Nanum Brush Script', cursive;
    
     
    
    color: black;
    
    }
    
    .bottom img{
    border-radius: 50%;
    width: 200px;
    margin: 10px 0 10px 0;
    margin-left: 45%;
    height: 150px;
    
    }


    
    .bottom{
    background-color: rgb(114, 58, 58);
    width: 100%;
    height: 1100px; 
    }


    .x1 p{
        text-align: center;
        font-size: 15px;
        font-family: cursive;
        color: white;
        padding: 10px;
        margin-left: 25px;
        margin-right: 25px;
    }
     .x1 h2{
         text-align: center;
         color: white;
     }
     

    .x2 p{

        text-align: center;
        font-size: 15px;
        font-family: cursive;
        color: white;
        padding: 15px;
        margin-left: 25px;
        margin-right: 25px;
        }

        .x2 h2{
            text-align: center;
            color: white;
        }
    

    .x3 p{

        text-align: center;
        font-size: 15px;
        font-family: cursive;
        color: white;
        padding: 10px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .x3 h2{
        text-align: center;
         color: white;
    }

    footer{
    background-color: rgba(255, 239, 213, 0.432);
    height: 70px;
    font-size: 90%;
    color: black;
    text-align: center;
    position: initial;
    padding: 15px;
    }
    
    .ner{
    
    background-color: blanchedalmond;
    height: 600px;
    
    }
    
    .ner input{
    
    padding: 5px;
    
    margin: 3px;
    
    margin-left: 400px;
    
    margin-top: 15px;
    
     
    
    }
    
    .ner textarea{
    
    margin-left: 400px;
    
    margin-bottom: 20px;
    
    }
    
    .ner iframe{
    
    float: right;
    
    margin-right: 150px;
    
    width: 400px;
    
    height: 150px;
    margin-bottom: 700px;
   
    
    }
    
    .gallery img{
    
    border-radius: 30%;
    
    padding: 10px;
    
    margin-left: 600px;
  
    display: grid;

    
    }
    .btn2{
        border: 1px solid rgb(114, 58, 58) ;
        padding: 10px 30px;
        color: black;
        border-radius: 12px;
        margin-left: 400px;
        margin-right: 900px;
        text-align: center;

    }